* {
    font-family: 'Poppins', sans-serif;
    transition: background 0.2s ease-in-out;
}

body {
    margin: 0;
    padding: 0;

    background-color: white;
    transition: background ease-in-out 0.2s;
}

.dark body {
    background-color: black;
}

.dark * {
    color: white;
}

.title {
    font-size: 45px;
}

.mini-title {
    font-size: 30px;
}

main {
    padding: 30px;
    padding-top: 0;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

main > div {
    width: 600px;
}

main > section {
    max-width: 800px;
}

li > .code-wrapper {
    justify-content: flex-start;
}

.code-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
}

code {
    font-family: monospace;
    font-size: 1.05rem;
    text-align: left;
    line-height: 1.5rem;
}

.ul-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: -20px;
}

.ul-wrapper > ul {
    text-align: left;
    list-style-position: inside;
}

.ul-wrapper > ul > li {
    max-width: 425px;
}

@media only screen and (max-width: 600px) {
    main div {
        width: calc(100% - 20px);
    }
}

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Scrollbar */
/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

.dark ::-webkit-scrollbar-track {
    background: #0e0e0e;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
}

.dark ::-webkit-scrollbar-thumb {
    background: #777;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.dark ::-webkit-scrollbar-thumb:hover {
    background: #aaa;
}