@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

body.dark {
    background-color: black;
}

/* Header */
.header {
    text-align: center;
}

hr {
    height: 1px;
    opacity: 0.5;
}

#nav {
    font-family: 'Montserrat', sans-serif;
    padding: 10px 20px !important;
    width: calc(100% - 40px);

    position: sticky;
    top: 0;
    z-index: 999;
    
    display: flex;
    align-items: center;
    justify-content: space-between;
    
    /* background-color: white; */
    backdrop-filter: blur(10px) opacity(100%);
}

/* .dark #nav {
    background-color: hsla(0, 0%, 0%, 0.447);
} */

#nav * {
    margin: 0;
    padding: 0;
}


#logoText {
    display: inline-block;
    text-align: center;
}

.dark #logoText {
    color: white;
}

#links {
    list-style-type: none;
    padding: 0;
    margin: 0;

    display: flex;
    white-space: nowrap;
    flex-wrap: wrap;
    justify-content: center;
    /* gap: 15px; */
}

.link:not(:last-child)::after {
    content: "|";
    margin-inline: 10px;
}

.link a {
    font-weight: 600;
    text-decoration: none;
    color: black;
}

.dark .link a {
    color: white;
}

.link a:hover {
    color: black;
    text-decoration: underline;
}

.dark .link a:hover {
    color: white;
}

@media only screen and (max-width: 1120px) {
    #nav {
        flex-direction: column;
        gap: 10px;
    }

    #logoText {
        font-size: 1.5rem;
    }
}

/* Checkbox */
#themeToggleInp {
    position: absolute;
    transform: translateY(-1000px);
}

/* Label */
#themeToggle {
    --trackHeight: 20px;
    margin-top: 3px;
    cursor: pointer;
}

#themeToggle::before {
    anchor-name: --themeToggle;

    content: "";
    display: inline-block;
    width: 40px;

    height: var(--trackHeight);
    border-radius: 20px;
    background-color: black;
}

.dark #themeToggle::before {
    background-color: white;
}

#themeToggle::after {
    content: "";
    display: inline-block;
    position: absolute;
    position-anchor: --themeToggle;

    --diameter: 16px;
    width: var(--diameter);
    height: var(--diameter);
    border-radius: 100%;
    
    background-color: black;
    background-image: url("assets/imgs/icons/light-mode.svg");
    background-size: cover;
    background-position: center;

    --padding: calc((var(--trackHeight) - var(--diameter)) / 2);
    left: calc(anchor(left) + var(--padding));
    /* transform: translateX(-10px); */
    top: calc(anchor(top) + var(--padding));

    transition: left ease-in-out 0.2s, background ease-in-out 0.2s;
}

#themeToggle[data-mode="dark"]::after {
    background-color: white;
    background-image: url("assets/imgs/icons/dark-mode.svg");

    left: calc(anchor(left) + 40px - var(--diameter) - var(--padding));
}